body {
    font-family: sans-serif;
    margin: 0;
    margin-right: 4rem;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 96px;
  }
  p {
    margin: 0;
  }
  .clickableWord {
    color: blue;
    text-decoration: underline;
  }
